.app-header {
    background: #086A87;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;
}

.app-logo {
    height: 58px;
    width: 220px;
}
