.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.mandatory::after {
  content: ' *';
  color: red;
}
